*{
  box-sizing: border-box;
}
.box{
  width: 500px;
  height: 300px;
  background-color: violet;
  transform: skewY(-10deg);
}
.box::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: widthFrame 2s linear forwards;
}
@keyframes widthFrame {
  0% {
    width: 500px;
  }
  100% {
    width: 0px;
  }
}